@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    :root {
        --colorFeedbackAlert1: 205, 43, 49;
        --colorFeedbackAlert2: 253, 216, 216;
        --colorFeedbackAlert3: 255, 229, 229;
        --colorFeedbackSucess1: 24, 121, 78;
        --colorFeedbackSucess2: 204, 235, 215;
        --colorFeedbackSucess3: 221, 243, 228;
        --colorRandomRandom1: 227, 77, 140;
        --colorRandomRandom2: 192, 66, 119;
        --colorRandomRandom3: 125, 42, 77;
        --colorRandomRandom4: 112, 0, 255;
        --colorRandomRandom5: 98, 0, 227;
        --colorRandomRandom6: 54, 0, 125;
        --colorRandomRandom7: 52, 153, 116;
        --colorRandomRandom8: 42, 125, 95;
        --colorRandomRandom9: 21, 61, 46;
        --colorRandomRandom10: 97, 0, 255;
        --colorRandomRandom11: 87, 0, 227;
        --colorRandomRandom12: 48, 0, 125;
        --colorBrandBrand1: 69, 41, 230;
        --colorBrandBrand2: 81, 38, 234;
        --colorBrandBrand3: 176, 166, 240;
        --colorBrandBrand4: 237, 234, 253;
        --colorGreyScaleGrey0: 11, 13, 13;
        --colorGreyScaleGrey1: 33, 37, 41;
        --colorGreyScaleGrey2: 73, 80, 87;
        --colorGreyScaleGrey3: 134, 142, 150;
        --colorGreyScaleGrey4: 173, 181, 189;
        --colorGreyScaleGrey5: 206, 212, 218;
        --colorGreyScaleGrey6: 222, 226, 230;
        --colorGreyScaleGrey7: 233, 236, 239;
        --colorGreyScaleGrey8: 241, 243, 245;
        --colorGreyScaleGrey9: 248, 249, 250;
        --colorGreyScaleGrey10: 253, 253, 253;
        --colorColorsFixedWhiteFixed: 255, 255, 255;
    }
}